body{
  font-family: papyrus;
  margin: 0;
  padding: 0;
  color: #819595;
  background: #696773;
}
p{
  position: fixed;
  right: 0;
}
.buttons{
  padding: 10px 20px;
}
.checklist{
  list-style: none;
}
.checklist li {
    padding-left: 0;
}
.hidden {
    display: none;
    margin: 0;
    padding: 0;
    border: none;
}
.info-button {
  position: fixed;
  right: 0;
  bottom: 0;
}
.unenroll-button {
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
}
