body{
  font-family:          papyrus;
  margin: 0;
  padding: 0;
  color: #819595;
  background: #696773;
  background-image: url('https://news.virginia.edu/sites/default/files/uva_sunrise_aerial.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
p{
  font-family: comic sans ms;
  position: fixed;
  right: 0;
  top: 0;
}
nav{
  position: fixed;
  bottom: 0;
}
nav ul li{
  display: inline;
}
nav ul li a {
  color: #819595;
  text-decoration: none;
}

@keyframes flash {
    0% { color: blue; }
    50% { color: yellow; }
    100% { color: #696773; }
}

.flashing-text {
    animation: flash 1s infinite; /* 1s duration, infinite looping */
}
